/* ============= banner ============== */

#banner {
    position: relative; 
    width: 100%;
    padding-top: 95px;
    height: 93.9vh;
}

#banner .banner-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* top: -50vh; */
}

.banner-content img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content .banner-text {
    z-index: 9;
}
.banner-text h1 {font-size: 40px;}
.banner-text h1 span {color: var(--color-yellow-text-banner);}
.banner-text h6 {font-size: 20px;}
.banner-text .banner-search i {
    color: var(--color-yellow-text-banner);
    font-size: 20px;
}
.banner-text .banner-search {
    position: relative;
    border: 2px solid var(--color-yellow-text-banner);
}
.banner-text .banner-search input[type="search"]{
    position: relative;
    width: 100%;
    border: 2px solid var(--color-yellow-text-banner);
}
.banner-text .banner-search 
    input[type="search"]::placeholder{
        font-size: 20px;
}

@media screen and (max-width: 769px) {
    #banner {
        height: 89.1vh;
    }
}

@media screen and (max-width: 666px) {
    #banner {
        padding-top: 145px;
        height: 91.5vh;
    }
    .banner-text h1 {font-size: 25px;}
    .banner-text h6 {font-size: 15px; line-height: 1.5;}
    .banner-text .banner-search i {
        font-size: 15px;
    }
    .banner-text .banner-search 
        input[type="search"]::placeholder{
        font-size: 15px;
    }
    .banner-text .links {
        justify-content: center !important;
    }
}


/* ================= products =============== */

#products .product-box {
    position: relative;
    height: 254px;
    width: 251px !important;
    overflow: hidden;
}

.product-box .product-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 3s;
}
.product-box .product-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 3s;
}
.product-box:hover .product-img{
    transform: scale(1.2);
    transition: 3s;
}
.product-box .info {
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}
.product-box .info .product-name{font-size: 13px; line-height: 16px;}
.product-box .info p{font-size: 11px;}
.product-box .info p i{color: var(--color-yellow-text); font-size: 9px;}
.product-box .info h4{font-size: 13px;}

.product-box .more {
    z-index: 9;
    right: 10px;
    bottom: 10px;
    background: var(--color-yellow-bg);
}
.product-box .more i {
    color: var(--color-bleue-dark);
}

@media screen and (max-width: 767px) {
    #products .product-box {
        height: 254px;
        width: 270px !important;
    }
}


/* ============= line 1 ============== */

#line span {font-size: 20px; line-height: 20px;}
#line img {width: 35%;}

@media screen and (max-width: 991px) {
    #line span {font-size: 18px; line-height: 18px;}
    #line img {
        height: 20px;
    }
}
@media screen and (max-width: 767px) {
    #line span {display: none;}
    #line img {width: 100%;}
}


/* ============= marketing ================ */

#marketing .box {
    width: 330px;
}

.box i, 
.box h4 {color: var(--color-bleue-dark);}
.box i{font-size: 80px;}

/* =============== banner footer =============== */

#banner-footer .content {
    height: 295px;
    overflow: hidden;
    background: var(--color-yellow-bg);
}

.content .bg-foot {
    width: 100%;
    height: 100%;
    position: absolute;
}
.content h3 {
    font-family: 'Bongkar';
    font-size: 40px;
}
.content div img:first-child {
    margin-right: -58px;
}

@media screen and (max-width: 991px) {
    #banner-footer .content {
        height: 200px;
    }
    .content h3 {font-size: 25px;}

    .content div img:first-child {
        height: 200px;
        margin-right: -39px;
    }
    .content div img:last-child {
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    #banner-footer .content {
        text-align: center;
        justify-content: center !important;
        flex-wrap: wrap;
        height: auto;
    }
    .content h3 {
        margin: 1rem 0 !important;
    }
    .content div img:last-child {
        margin-left: 10px;
    }
    .content .bg-foot {
        width: auto;
    }
}

/* =========== line 2 ================= */
#line-footer img {
    height: 30px;
}

