/* =============== product details =================== */

#product-details .main-img img {width: 300px;}
#product-details .seconadary-imgs img {width: 100px;}

#product-details .details{
    background: url(../img/product-bg.png);
}

#product-details .prod-title {
    /* font-size: 50px; */
}

.price h1 {
    /* font-size: 67px; */
}
.price h2 {
    /* font-size: 18px; */
}
.prod-star i {
    color: var(--color-bleue-dark);
}
.prod-desc {
    font-size: 15px;
}
.quantity input {
    width:50px !important;
}

#product-details .btn-add {
    background: var(--color-bleue-dark);
}

.desc-banner div .prod-i {
    color: var(--color-bleue-dark);
    font-size: 30px;
}

#product-details .accordion {
    /* background: brown !important; */
}
#product-details .accordion-item {
    background: transparent !important;
}
#product-details .accordion-item button {
    background: transparent !important;
}
#product-details .accordion-button:not(.collapsed) {
    /* color: var(--color-yellow-text-banner) !important;
    background: var(--color-bleue-dark) !important; */
    border: none !important;
    background: #e7f1ff !important;
}
#product-details .accordion-button:focus {
    box-shadow: none !important;
}

