
/* ================= top nav =================== */

.top-nav {
    width: 100vw;
    background: var(--color-yellow-bg);
}
.top-nav span {font-size: 20px;}


/* ================= navbar ================ */

nav {
    /* top: 45px; */
    width: 100vw;
    height: 137.49px;
}

nav .navbar-brand >div span:first-child{
    bottom: -14px;
    font-size: 28.7834px;
    letter-spacing: 0.03em;
    color: var(--color-yellow-text);
}
nav .navbar-brand >div span:last-child{
    top: -5px;
    font-size: 9.80428px;
    letter-spacing: 0.03em;
}


.nav-search label {color: var(--color-light);}
.nav-search input[type="search"] {
    border: none !important;
    max-width: 222px;
}
.nav-search input[type="search"]::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12.6106px;
    line-height: 15px;
}
.nav-search input[type="search"]:focus {border: none !important;}

nav .nav-icons i {
    font-size: 22px;
    color: var(--color-light);
}

@media screen and (max-width: 666px) {
    nav { height: 152px;}
    nav .myContainer {justify-content: center !important;}
    .top-nav span {font-size: 15px;}
    .nav-search input[type="search"] {max-width: 180px;}
}
