
/* ================= top nav =================== */

.top-nav {
    width: 100vw;
    background: var(--color-yellow-bg);
    z-index: 9;
}
.top-nav span {font-size: 20px;}


/* ================= navbar ================ */

nav {
    width: 100vw;
    height: 85px;
    z-index: 2;
}

nav .navbar-brand >div span:first-child{
    bottom: -14px;
    line-height: 10px;
    font-size: 28.7834px;
    letter-spacing: 0.03em;
    color: var(--color-yellow-text);
}
nav .navbar-brand >div span:last-child{
    top: -5px;
    font-size: 9.80428px;
    letter-spacing: 0.03em;
}


.nav-search label {color: var(--color-light);}
.nav-search input[type="search"] {
    border: none !important;
    max-width: 222px;
}
.nav-search input[type="search"]::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12.6106px;
    line-height: 15px;
}
.nav-search input[type="search"]:focus {border: none !important;}

nav .nav-icons i {
    font-size: 22px;
    color: var(--color-light);
}

@media screen and (max-width: 666px) {
    .top-nav span {font-size: 15px;}
    nav { height: 135px;}
    nav .myContainer {justify-content: center !important;}
    nav .navbar-brand {margin-bottom: 5px;}
    nav .navbar-brand >div span:first-child{font-size: 25px;}
    nav .navbar-brand >div span:last-child{font-size: 8px;}
    .nav-search input[type="search"] {max-width: 180px;}
}


/* ============= banner ============== */

#banner {
    position: relative; 
    width: 100%;
    padding-top: 95px;
    height: 93.9vh;
}

#banner .banner-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* top: -50vh; */
}

.banner-content img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content .banner-text {
    z-index: 9;
}
.banner-text h1 {font-size: 40px;}
.banner-text h1 span {color: var(--color-yellow-text-banner);}
.banner-text h6 {font-size: 20px;}
.banner-text .banner-search i {
    color: var(--color-yellow-text-banner);
    font-size: 20px;
}
.banner-text .banner-search {
    position: relative;
    border: 2px solid var(--color-yellow-text-banner);
}
.banner-text .banner-search input[type="search"]{
    position: relative;
    width: 100%;
    border: 2px solid var(--color-yellow-text-banner);
}
.banner-text .banner-search 
    input[type="search"]::placeholder{
        font-size: 20px;
}

@media screen and (max-width: 769px) {
    #banner {
        height: 89.1vh;
    }
}

@media screen and (max-width: 666px) {
    #banner {
        padding-top: 145px;
        height: 91.5vh;
    }
    .banner-text h1 {font-size: 25px;}
    .banner-text h6 {font-size: 15px; line-height: 1.5;}
    .banner-text .banner-search i {
        font-size: 15px;
    }
    .banner-text .banner-search 
        input[type="search"]::placeholder{
        font-size: 15px;
    }
}


/* ================= products =============== */

#products .product-box {
    cursor: pointer;
    position: relative;
    height: 254px;
    width: 251px !important;
    overflow: hidden;
}

.product-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 3s;
}
.product-box:hover img{
    transform: scale(1.2);
    transition: 3s;
}
.product-box .info {
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}
.product-box .info h3{font-size: 13px; line-height: 16px;}
.product-box .info p{font-size: 11px;}
.product-box .info p i{color: var(--color-yellow-text); font-size: 9px;}
.product-box .info h4{font-size: 13px;}

.product-box .more {
    z-index: 9;
    right: 10px;
    bottom: 10px;
    background: var(--color-yellow-bg);
}
.product-box .more i {
    color: var(--color-bleue-dark);
}


/* ============= line 1 ============== */

#line span {font-size: 20px; line-height: 22px;}
#line img {height: 50px;}

@media screen and (max-width: 991px) {
    #line img {height: 40px;}
}
@media screen and (max-width: 767px) {
    #line span {display: none;}
    #line img {height: 45px;}
}


/* ============= marketing ================ */

#marketing .box {
    width: 330px;
}

.box i, 
.box h4 {color: var(--color-bleue-dark);}
.box i{font-size: 80px;}


